* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #001345;
}

.contain {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.top {
    position: absolute;
    width: 100%;
    /* border: 1px dashed lightgrey; */
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    border-top-right-radius: 18px;
}


.cntRedes {
    width: 35%;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(15%); */
    flex-direction: column;
    gap: 1rem;
    /* border: 2px dashed; */
}

.cntModelo {
    /* border: 2px dashed; */
    width: 100%;
    height: 70%;


}

.cntTexto {
    width: 65%;
    /* border: 2px dashed; */
    display: flex;
    flex-direction: column;
    text-align: end;
    padding-right: 10%;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    padding-top: 8rem;
    /* z-index: 1; */
}

.cntLogo {
    width: 35%;
    margin-right: 0.1rem;
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.tit {
    font-size: 3.5rem;
    font-weight: 400;
}

.des {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

.btn {
    width: fit-content;
    flex: 0 0 auto;
    align-self: flex-end;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 25px;
    background-color: #1A85BA;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #001345;
    }
}

.pie {
    justify-content: end;
    border-top: 1px solid;
    font-size: 0.65rem;
    padding-top: 0.5rem;
    line-height: 1.2;
    width: 80%;
    align-self: flex-end;
}

.pie>p {
    color: darkgray;

}



.agua1 {
    position: absolute;
    width: 70%;
    height: 100%;
    clip-path: polygon(87% 0, 100% 0, 100% 100%, 46% 100%);
    background-color: #bdbdbd23;
    right: 0;
    z-index: -1;
}

.agua2 {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #bdbdbd23;
    right: 15%;
    clip-path: polygon(63% 0, 13% 0, 63% 76%);

}

.agua3 {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #bdbdbd23;
    left: 0%;
    clip-path: polygon(31% 0, 6% 0, 56% 100%);

}

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.0);
}




.modalCerrar {
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    background: none;
    border: none;
    cursor: pointer;

}

.modal:popover-open {
    opacity: 1;
    pointer-events: auto;
    position: absolute;
    width: 60%;
    height: 90vh;
    min-height: 600px;    
    background-color: rgba(255, 255, 255, 0.98);
    padding: 5rem 3rem;
    border: none;
    border-radius: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    box-shadow: 3px 3px 23px rgba(0, 0, 0, 0.4);
    transition: width 0.6s ease;
    overflow: hidden;
    
    
    & label {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 0.15rem;


        & input {
            appearance: none;
            outline: none;
            padding: 0.5rem;
            border: 1px solid lightgray;
            border-radius: 4px;
        }
    }
}


.izLogo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .cntImg {

        width: 80%;

    }


}

.izLogo>.pie {
    width: 100%;

}

.formulario {
    /* border: 2px dashed; */
    width: 100%;
    height: 100%;
    padding: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;


    &>label {
        width: 80%;
    }

    & p {
        width: 80%;
        text-align: start;
        line-height: 1.2;
    }

    &>.btn {
        align-self: center;
    }

    &>.pie {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;
        align-self: flex-end;
        

        &>p {
            width: 100%;
        }
    }
}

.tr1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffaa01;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(190deg) translate(-155%, -150%);
    top: 50px;
    left: 50px;
    animation: tr1 10 alternate infinite;
}


@media (max-width:960px) {

    .modal:popover-open {
        flex-direction: column;
        width: 95%;
    }

    .contain {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        /* border: 2px dashed red; */
    }

    .top {
        position: absolute;
        width: 100%;
        border: none;
        top: 0;
        left: 0;

    }

    
    .cntRedes {
        width: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* transform: translateY(15%); */
        flex-direction: column;
        gap: 1rem;
        /* border: 2px dashed; */
    }

    .cntModelo {
        /* border: 2px dashed; */
        width: 100%;
        height: auto;


    }

    .redes {
        /* border: 2px dashed; */
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    
    .cntTexto {
        width: 100%;
        /* border: 2px dashed; */
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem 5%;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 8rem;
        z-index: 1;
    }

    .cntLogo {
        width: 40%;
        margin-right: none;
    }

    .txt {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    .tit {
        font-size: 3.0rem;
        font-weight: 400;
    }

    .des {
        margin: 1.5rem 0;
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .btn {
        width: fit-content;
        flex: 0 0 auto;
        align-self: center;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 25px;
        background-color: #1A85BA;
        color: white;
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }

    .pie {
        justify-content: start;
        border-top: 1px solid;
        font-size: 0.65rem;
        padding-top: 0.5rem;
        line-height: 1.2;
        width: 100%;
        align-self: flex-start;
        text-align: start;
    }

    .pie>p {
        color: darkgray;

    }



    .agua1 {
        display: none;
        position: absolute;
        width: 30%;
        height: 100dvh;
        clip-path: polygon(87% 0, 100% 0, 100% 100%, 46% 100%);
        background-color: #bdbdbd23;
        right: 0;
    }

    .agua2 {
        display: none;
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: #bdbdbd23;
        right: 15%;
        clip-path: polygon(63% 0, 13% 0, 63% 76%);

    }

    .agua3 {
        display: none;
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: #bdbdbd23;
        left: 0%;
        clip-path: polygon(31% 0, 6% 0, 56% 100%);

    }

}